{% extends "base.html.twig" %}
{% block body %}
    <h1>Connexion</h1>

    <form action="{{ path('security_login')}}" method="post" class="action">
        <div class="form-group">
            <input type="text" placeholder="Adresse email" required name="_username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Mot de passe" required name="_password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Connexion</button>
    </form>
{% endblock body %}