{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo architecto quos sint. Architecto, odit est.</p>
            <p>Earum iure explicabo tempora perferendis! Cumque deserunt obcaecati, quam tempora iste repudiandae. Adipisci, eum explicabo!</p>
            <a href="{{ path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Rerum modi a libero doloribus molestias, facilis eum! Sequi omnis, nobis odit dolores magnam itaque.</p>
            <p>Error similique debitis itaque nam odit eligendi, distinctio nesciunt quia cum vitae esse omnis nulla.</p>
            <a href="{{ path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Ullam nisi at aliquam tempore, perferendis voluptatum ducimus reiciendis quo nulla? Animi atque praesentium porro?</p>
            <p>Doloribus consequuntur vel odio tempore, quo quaerat adipisci iure, enim natus commodi magni ullam eveniet!</p>
            <a href="{{ path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</section>
{% endblock %}
