{% extends "base.html.twig" %}

{% block body %}
<section class="articles">
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo architecto quos sint. Architecto, odit est.</p>
            <p>Earum iure explicabo tempora perferendis! Cumque deserunt obcaecati, quam tempora iste repudiandae. Adipisci, eum explicabo!</p>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum, assumenda eius cumque exercitationem, odio iure amet distinctio quam impedit inventore eum officiis, repellat aliquid beatae quisquam saepe. Veritatis hic nemo veniam provident omnis minima iusto. Autem voluptatibus placeat odit, nam consectetur odio minus laborum? Id blanditiis architecto nisi tempora.</p>
        <p>Illo aut tempore atque omnis temporibus enim voluptatem vitae rerum ut autem veniam ab, quibusdam praesentium maxime, labore odit animi. Modi excepturi est voluptas voluptatibus vitae quo soluta deleniti, veritatis delectus in assumenda fugit necessitatibus, molestiae, dolorem earum odio animi cupiditate? Commodi dolor maiores fuga optio dignissimos dolores delectus rem!</p>
    </article>
</section>
{% endblock body %}